// Colors
$primary-color: var(--primary-color);
$background-color: var(--background-color);
$text-color: var(--text-color);

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;

// Z-indexes
$z-dock: 1000;
$z-card: 50;
$z-launcher: 2000;
$z-quicksettings: 2000;

:export {
  primaryColor: $primary-color;
  backgroundColor: $background-color;
  textColor: $text-color;
  zDock: $z-dock;
  zCard: $z-card;
  zLauncher: $z-launcher;
  zQuickSettings: $z-quicksettings;
} 